/* Daniel --------------------------------------------------------- */
a.top_link {
	cursor:pointer;
  font-size : 12px;
  font-weight:bold;
  position:fixed; 
  
  z-index:2;
  bottom:0;
  right:150px;
  
  display:inline-block;
     
  background-color:#000;
  color:#fff;
  text-decoration:none;
    
  padding:5px 5px 2px 5px;
  
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  -khtml-border-radius:5px 5px 0 0;  
  border-bottom-left-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
    
	opacity: .7;
	filter: alpha(opacity = 70);
        
	}
a.top_link:hover{
  font-size : 12px;
  color: #fff;
}  
/* Daniel --------------------------------------------------------- */
